mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-form-field {
    display: block;
  }
  .button-color {
    color: white !important;
    background-color: #008aab !important;
    align-items: center;
    align-content: center;
  }

  .no-scrollbars {
    overflow: hidden !important;
    display: inline;
  }
