<div class="no-scrollbars">
    <mat-card>
        <mat-card-content>
            <form>
                <h2 style="color: black;">Are you sure?</h2>
                <div mat-dialog-actions class="action">
                    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
                    &nbsp;&nbsp;&nbsp;
                    <button mat-raised-button class="button-color" (click)="onDeleteSubmit()">Delete</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>